
<!DOCTYPE html>
<html>
  <head>
   <title> Azarel - Venezuela </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"  media="screen,projection"/>
    

    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="manifest" href="manifest.json">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
  </head>

  <body >  
      <div class="row" id="mdlPag1" style="display:none">
          <div class="input-field col s12">
            <input placeholder="Monto" id="txtMonto" type="number" class="validate">
            <label for="txtMonto" class="active">Monto</label>
          </div>
          <div class="col s12">
             
              <div id="test-slider"></div>
          </div>
        </div> 
        <div style="display:none">
                <a href="#!user"><img class="circle" id="imgPhotoUser" /></a>
                <a href="#!name"><span class="white-text name" id="lblNameUser">Azar en linea</span></a>
                <a href="#!email"><span class="white-text email" id="lblEmail"></span></a>
                
        </div>
        <center>            
          <!-- <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" /> -->
          <div class="section" id="divLoading">
              <div class="section"></div>
              <div class="preloader-wrapper big active" id="divLogin">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div><br>
            Cargando...
         </div>
         </center> 
    <div id="divNav" style="display:none" >
        <header>
          <div class="navbar-fixed ">
              <nav class="nav-extended">
                  <div class="nav-wrapper blue">
                      <a href="#!" class="brand-logo center hide-on-small-only">Azarel</a>
                      <a href="#">
                        <i class="material-icons left waves-effect"></i>Azarel
                      </a>
                      <a href="home.html" class="button-collapse right">                                        
                        <i class="material-icons waves-effect waves-light left" onclick="IrAPrincipal()" >home</i>
                      </a>
                      <ul class="right hide-on-med-and-down">
                        <li><a href="home.html">
                          <i class="material-icons left"  onclick="IrAPrincipal()" >home</i>Principal</a></li>
                        
                      </ul>
                  </div>
              </nav>               
          </div>
        </header>
          <main>
            <center>
                <div id="app">       
                  <ul>
                    <li v-if="cameras.length === 0" class="empty">No hay camara</li>
                    <li v-for="camera in cameras">
                      <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
                      <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                        <a class="btn"  @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
                      </span>
                    </li>
                  </ul>                    
                 
                                     
                  <div class="preview-container">
                    <video id="preview" style="width: 80%; height: 50%;"></video>
                  </div>

                  <transition-group name="scans" tag="ul">
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
                  </transition-group> 
                  <ul v-if="scans.length === 0">
                    <li class="empty">Procesando...</li>
                  </ul>
                </div>
            </center>
          </main>




   
   
         


        


    
    <!--Import jQuery before materialize.js-->
    <!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/wnumb.js"></script>
    <script type="text/javascript" src="js/nouislider.min.js"></script>
    
    
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-firestore.js"></script>
    

    <script  type="text/javascript">
      $(document).ready(function(){
        LoadComponentGeneral();        
      });
    </script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/load-object-firestore.js"></script>
    <script type="text/javascript" src="js/apps.js"></script>
  </body>
</html>
